body, html {
    background-color: black;
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    display: flex;
    justify-content: flex-start;
    align-items: center; /* Vertikální zarovnání */
    height: 100%; /* Zajistí, že body a html mají plnou výšku viewportu */
    margin: 0;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: red;
}

p{
    margin: 0;
    font-weight: 200;
}

.logo {
    vertical-align: middle;
    width: 45%;
    margin-top: 20vh;
    animation: slideDown 0.5s ease-out;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.menu {
    font-size: 4vw;
    text-align: center;
    display: flex;
    justify-self: center;
    animation: slideDown 0.5s ease-out;
    transition: transform 0.5s ease-in-out;
    background-color: black;
}



.menu ul{
    padding: 0;
    margin: 0;
}

@keyframes slideDown {
    from {
      transform: translateY(-80%); /* Začíná mimo obrazovku nahoře */
    }
    to {
      transform: translateY(0%); /* Konečná pozice */
    }
}

@keyframes slideUp {
    from {
      transform: translateY(50vh); /* Začíná mimo obrazovku nahoře */
    }
    to {
      transform: translateY(0%); /* Konečná pozice */
    }
}

.menu.up{
    animation: slideUp 0.5s ease-in-out;
    transition: top 0.5s ease-in-out, position 0.5s ease-in-out;
    position: fixed;
    top: 0;
    z-index: 2;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.menu.up ul li{
    display: inline-block;
    vertical-align: middle;
}

.menu.up ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin: 10px 1vw;
    cursor: pointer;
    list-style-type: none;
}

.menu ul li:hover {
    color: red;
}

@keyframes slideImgUp {
    from {
      transform: translateY(0); /* Začíná mimo obrazovku nahoře */
    }
    to {
      transform: translateY(-50vh); /* Konečná pozice */
    }
}

.fade {
    animation: slideImgUp 0.5s ease-in-out;
    opacity: 0;
}

@keyframes contentUp {
    from {
      transform: translateY(35%); /* Začíná mimo obrazovku nahoře */
    }
    to {
      transform: translateY(-35%); /* Konečná pozice */
    }
}

::-webkit-scrollbar {
    width: 6px; /* Šířka scrollbar */
}

::-webkit-scrollbar-track {
    background: #000000; /* Barva pozadí scrollbar */
}

::-webkit-scrollbar-thumb {
    background: #ff0000; /* Barva "thumb" (posuvník) */
    border-radius: 10px; /* Zaoblení rohů */
}

::-webkit-scrollbar-thumb:hover {
    background: #750000; /* Barva "thumb" při hoveru */
}

.content{
    width: 80%;
    overflow-y: auto; /* Pokud je obsah delší, přidá scroll */
    z-index: 1; /* Nižší než menu */
    opacity: 0;
    padding-top: 8%;
    padding-bottom: 4%;
    transition: opacity 1s ease-in;
    animation: slideDown 0.5s ease-in-out;
    column-gap: 8px;
}

@media (max-width: 600px) {
    .menu{
        font-size: 6vw;
    }
    .content{
        padding-top: 15%;
    }
} 

.contentIn{
    transition: opacity 1s ease-in;
    animation: slideUp 0.5s ease-in-out;
    opacity: 1;
}

.backImg{
    vertical-align: middle;
    height: 1em;
    width: 1em;
    background-image: url('Obrazky/back/backF.png');
    background-size: cover;
}

.backImg:hover{
    background-image: url('Obrazky/back/backT.png');
    background-color: blue;
}

.photoContent img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.column {
    flex: 50%;
    padding: 0 4px;
}

.photoContent{
    flex: 50%;
    display: flex;
    flex-wrap: wrap; 
}

.illuContent{
    flex: 50%;
    display: flex;
    flex-wrap: wrap; 
}

.illuContent img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.luvxumContent{
    margin-top: 6vw;
}
