body, html {
    background-color: black;
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    display: flex;
    justify-content: center; /* Horizontální zarovnání */
    align-items: center; /* Vertikální zarovnání */
    height: 100%; /* Zajistí, že body a html mají plnou výšku viewportu */
    margin: 0;
    flex-direction: column;
}

@media (max-width: 600px) {
    body{
        font-size: 5vw;
    }
}

p{
    margin: 0;
    font-weight: 200;
}

.logo {
    vertical-align: middle;
    width: 45%;
    margin-top: 5%;
    animation: slideDown 0.5s ease-out;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.menu {
    text-align: center;
    display: flex;
    justify-self: center;
    animation: slideDown 0.5s ease-out;
    transition: transform 0.5s ease-in-out;
    z-index: 1;
    background-color: black;
}

.menu ul{
    padding: 0;
    margin: 0;
}

@keyframes slideDown {
    from {
      transform: translateY(-80%); /* Začíná mimo obrazovku nahoře */
    }
    to {
      transform: translateY(0%); /* Konečná pozice */
    }
}

@keyframes slideUp {
    from {
      transform: translateY(50vh); /* Začíná mimo obrazovku nahoře */
    }
    to {
      transform: translateY(0%); /* Konečná pozice */
    }
}

.menu.up{
    animation: slideUp 0.5s ease-in-out;
    transition: top 0.5s ease-in-out, position 0.5s ease-in-out;
    position: fixed;
    top: 0;
    border-color: red;
    border-style: solid;
    border-top: 1px;
    border-radius: 3vw;
}

.menu.up ul li{
    display: inline-block;
    vertical-align: middle;
}

.menu.up ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin: 10px 1vw;
    cursor: pointer;
    list-style-type: none;
}

.menu ul li:hover {
    color: red;
}

@keyframes slideImgUp {
    from {
      transform: translateY(0); /* Začíná mimo obrazovku nahoře */
    }
    to {
      transform: translateY(-50vh); /* Konečná pozice */
    }
}

.fade {
    animation: slideImgUp 0.5s ease-in-out;
    opacity: 0;
}

@keyframes contentUp {
    from {
      transform: translateY(35%); /* Začíná mimo obrazovku nahoře */
    }
    to {
      transform: translateY(-35%); /* Konečná pozice */
    }
}

.content{
    width: 80%;
    opacity: 0;
    transition: opacity 1s ease-in;
    animation: slideDown 0.5s ease-in-out;
}

.contentIn{
    transition: opacity 1s ease-in;
    animation: slideUp 0.5s ease-in-out;
    opacity: 1;
}

.backImg{
    vertical-align: middle;
    height: 1em;
    width: 1em;
    background-image: url('Obrazky/backF.png');
    background-size: cover;
}

.backImg:hover{
    background-image: url('Obrazky/backT.png');
}

.responsive-img {
    max-width: 100%; /* Obrázek se přizpůsobí šířce buňky */
    max-height: 100%; /* Maximální výška obrázku */
    height: auto; /* Zachovává poměr stran */
    width: auto; /* Zachovává poměr stran */
    margin: auto; /* Vycentrování obrázku (pokud je to potřeba) */
    align-items: center;
    object-fit: cover;
}

#photoContent{
}

